.ui.inverted.menu .item:before {
  background: none !important;
}

.desktop-menu-container .menu-container {
  margin-bottom: 0;
  transition: position 5s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: transparent !important;
}

.desktop-menu-container {
  padding: 0 !important;
}

.home-heading-title {
  font-size: 5.5rem !important;
  font-weight: bold !important;
  width: 100%;
  margin: 12rem 2rem 1em !important;
  padding: 4rem !important;
  text-align: left;
  z-index: 999;
  opacity: 1;
}

.homepage-heading-cover {
  margin-top: 2em;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.home-heading-container::before {    
  content: "";
  background-image: url('./../../../assets/LANDING_BACKGROUND.jpeg');
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.homepage-heading-cover-content {
  position: relative;
  font-size: 1.75rem !important;
  font-weight: normal;
  opacity: 1;
  text-align: justify;
  display: flex;
  justify-content: flex-end;
}

.home-heading-container {
  /* font-size: 1.5em !important; */
  /* display: flex;
  flex-direction: column;
  flex: 1; */
  padding: 1em 0 !important;
  margin: 0 !important;
  height: 100vh;
}

.ui.inverted.menu .item, .ui.inverted.menu .item>a:not(.ui) {
  border-radius: 4px;
}