.homepage-heading .title-container {
  width: 55%;
  text-align: left;
  margin-left: 5%;
}

.homepage-heading .subtitle-container {
  margin-right: 5%;
  display: flex;
  justify-content: flex-end;
}

.homepage-heading .subtitle-container .subtitle-wrapper {
  width: 55%;
  text-align: right;
  margin-top: 10em;
}

.anton-regular {
  font-family: "Anton", sans-serif !important;
  font-weight: 400;
  font-style: normal;
}

.antonio-regular {
  font-family: "Antonio", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.impact-quote {
  font-size: medium;
  font-weight: 300;
  line-height: 1.2em;
  font-size: 2em;
  word-spacing: 0.25rem;
}

.impact-quote-author {
  margin-top: 1rem;
  text-align: right;
  margin-right: 2rem;
  font-size: 1.5rem;
}

.impact-description {
  font-size: 1.5rem;
  line-height: 1.25em;
  text-align: justify;
}

.impact-button {
  margin-top: 1rem;
  float: right;
}

.poppins-font {
  font-family: "Poppins", sans-serif !important;
}

@media screen and (max-width: 768px) {
  .impact-quote {
    font-size: 1.5rem;
  }

  .impact-quote-author {
    font-size: 1.25rem;
  }

  .impact-description {
    font-size: 1.25rem;
  }

  .homepage-heading .subtitle-container .subtitle-wrapper {
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
    margin: 2rem 1.25rem !important;
  }

  .homepage-heading .subtitle-container {
    margin-right: 0;
  }

  .homepage-heading .title-container {
    width: 100%;
    text-align: center;
    margin-left: 0;
  }
}