.homepage-layout-heading-cover {
  margin-top: 2em;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.homepage-layout-heading-cover-container {
  position: relative;
}

.homepage-layout-heading-cover::before {    
  content: "";
  background-image: url('./../../assets/LANDING_BACKGROUND.jpeg');
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.5;
}

.homepage-layout-heading-cover-content {
  position: relative;
  width: 900px;
  opacity: 1;
  margin: 4em 0;
}

.homepage-layout-heading-cover-content-title {
  font-size: 3em !important;
  color: #1b1c1d !important;
  width: 900px;
  margin: 4em auto 1em;
  font-weight: bold;
}

.ui[class*="middle aligned"].grid>.row>.column.team-card {
  align-self: auto !important;
}

.team-card-content {
  font-size: 1em;
}

.copy-right {
  text-align: center;
  padding: 4em 0 1em;
  opacity: 0.5;
}